
header{
	background:url(78.jpg);
	width: 100%;
	height: 100%;
	padding-top:1px;
}
.Centrar-Texto{
	text-align: center;
}
.Izquierda-Texto{	text-align: left;
}
.Agrandar-Texto{
	font-size: 4em;
}
.Engrandecer-Texto{
	font-size: 2.6em;
}
.Color-Blanco{
	color: #00CED1;
}
.Color-Rosado{
	color: #CC0033;
}
.inline{
	display: inline;
}
.ocupa-mitad{
	width: 50%;
}
.Margen-Palabras{
	margin:20px;
    padding:20px;
}
